<header>
  <div class="title">Currency Conversion Tool</div>
  <a href="https://openexchangerates.org/">openexchangerates.org</a>
</header>
<form [formGroup]="form">
  <currency-exchange-input
    label="Amount"
    autocomplete="off"
    [spellcheck]="false"
    [formControl]="form.controls.amount"
  ></currency-exchange-input>
  <currency-exchange-select
    label="Currency From"
    [formControl]="form.controls.from"
    [options]="(currencies$ | async)!"
    [displayWith]="displayWith"
    [valueWith]="valueWith"
    [itemSize]="50"
  ></currency-exchange-select>
  <currency-exchange-select
    label="Currency To"
    [options]="(currencies$ | async)!"
    [displayWith]="displayWith"
    [valueWith]="valueWith"
    [itemSize]="50"
  ></currency-exchange-select>
  {{ converted$ | async }}
</form>